
                    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
                        <i class="fa-solid fa-right-to-bracket"></i> Log in
                    </a>

                    <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Account" asp-action="Register">
                        <i class="fa-solid fa-user-plus"></i> Register
                    </a>

                    @*User profile section*@
                    <div class="dropdown">
                        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-circle-user"></i> Hello user
                        </button>
                            <ul class="dropdown-menu" aria-labelledby="profile-btn">
                                <li>
                                    <a class="dropdown-item" asp-controller="Orders" asp-action="Index" >
                                    <i class="fa-solid fa-list-ul"></i> Orders </a>
                                    </li>
                             </ul>
                        </div>
                        <span style="padding:5px"></span>
                        <form asp-controller="Account" asp-action="Logout">
                        <button class="btn btn-outline-danger my-2 my-sm-0">
                        <i class="fa-solid fa-right-from-bracket"></i> Log out
                        </button>
                        </form>