@model int;

@if (Model > 0)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controllers="Orders" asp-action="ShoppingCart">
            <i class="fa-light fa-cart-shopping"></i> @Model
        </a>
    </li>
}